extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='',class='link disabled') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jeremy Canela

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p Hey, I'm Jeremy Canela. I'm a passionate web developer and a Tech degree student at Treehouse. I've been involved in web development for about 4 years. I am also working on my associate degree in Computer Science and plan to ultimately achieve a bachelor's degree in Computer Science.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li Pug
          li Photoshop
        h6 Contact Info

        ul
          li 603-858-7301
          li jeremycanela@gmail.com

        a.button.expanded(href='https://github.com/jeremycanela', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='', class='link disabled') ← Back
  